<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/employeePage.css" />

<div class="card m-auto w-75 mt-5">
  <div class="card-container mt-5 mb-5">
    <div>
      <h3 class="text-center"><%=employee.name%></h3>
      <p class="text-center"><%=employee.position%></p>

      <a href="/team/<%=employee._id%>/edit" class="position-absolute top-0 end-0 btn mt-4 me-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
        </svg>
      </a>

      <!-- Creates new Item button with popup form -->
      <%- include ('../partials/createNewItem', {employee}) %>

      <div class="current-actions mt-5 mb-3 text-center">Current Action Items</div>
      <hr class="w-25 m-auto mb-3" />
    </div>

    <% let i = 1 %>

    <div class="container">
      <!-- Short Term Action Items -->
      <div class="offset-1 mb-5 w-75">
        <div class="d-flex justify-content-between">
          <span>Short Term -</span>
        </div>
        <ol class="mt-3">
          <% for (let item of items) { %>

          <!-- Checks if the dueDate is less than 30 days pass the current date and that the due date and current date are within the same year-->
          <% if (item.dueDate.getDate() + dayCount[item.dueDate.getMonth()] < trueDate + 30 && item.dueDate.getFullYear() === currentYear) { %>

          <!-- Creates list of action items -->
          <%- include ('../partials/actionItem', {item, i}) %> <% } i++ } %>
        </ol>
      </div>

      <!-- Long Term Action Items -->
      <div class="offset-1 mb-5 w-75">
        <div class="d-flex justify-content-between">
          <span>Long Term -</span>
        </div>
        <ol class="mt-3">
          <% for (let item of items) { %>

          <!-- Checks if the dueDate is greater than 30 days pass the current date -->
          <% if (item.dueDate.getDate() + dayCount[item.dueDate.getMonth()] > trueDate + 30 || item.dueDate.getFullYear() !== currentYear) { %>

          <!-- Creates list of action items -->
          <%- include ('../partials/actionItem', {item, i}) %> <% } i++ } %>
        </ol>
      </div>
    </div>

    <hr class="w-75 m-auto mb-5" />

    <div class="mt-5">
      <button class="btn w-50 offset-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color: #ebf2fb">Completed</button>

      <div class="collapse w-50 offset-3" id="collapseExample">
        <%for (let item of items) { %> <% if (item.complete === true) { %>
            <%- include ('../partials/completedItem', {item}) %>
        </div>
        <% } %> <% } %>
      </div>
    </div>
  </div>
</div>
