<div class="modal fade" id="completedItemsMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%=item.title%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Description:</label>
          <span class="ms-2"><%=item.desc%></span>
        </div>
        <div class="mb-3 mt-4">
          <label for="message-text" class="col-form-label me-2">Due Date:</label>
          <span><%=item.dueDate.getDate()%> <%=months[item.dueDate.getMonth()]%> <%=item.dueDate.getFullYear()%></span>
        </div>
        <div class="mb-3 mt-4">
          <label for="message-text" class="col-form-label me-2">Updates:</label>
          <div>
            <ol class="list-group list-group-numbered">
              <% for(let update of item.update) { %>
              <li class="list-group-item">
                <span class="ms-3"><%=update%></span>
              </li>
              <% } %>
            </ol>
          </div>
        </div>
        <hr class="w-100 mt-5" />
        <form action="/item/<%=item._id%>/mark-complete?_method=PUT" method="POST">
          <button class="btn btn-outline-secondary offset-3 w-50 mt-3 mb-3">Mark as Not Complete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="list-group">
  <a class="btn completed-item w-50 offset-3" data-bs-toggle="modal" href="#completedItemsMenu" role="button"><%=item.title%></a>
</div>
