<% layout ('layouts/boilerplate') %>

<div class="card m-auto w-75 mt-5">
  <form action="/item/<%=item._id%>/edit?_method=PUT" method="POST" class="m-auto mt-3 w-50">
    <input class="text-center mb-5 offset-2 fs-3" placeholder="<%=item.title%>" />
    <div class="mb-3">
      <label for="name" class="form-label">Description:</label>
      <input type="text" class="form-control" name="item[desc]" id="" aria-describedby="itemDescription" placeholder="<%=item.desc%>" />
    </div>
    <div class="mb-1 mt-5">
      <span class="me-2">Due:</span>
      <input type="date" class="form form-md mb-3 mt-2" aria-label=".form-md example" name="item[dueDate]" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Update:</label>
      <ul class="form-control list-group list-group-flush">
        <% for (let update of item.update) { %>
        <li class="list-group-item"><%=update%></li>
        <% } %>
      </ul>
    </div>
    <button type="submit" class="btn btn-primary mt-4 mb-4 offset-1 w-75">Update</button>
  </form>

  <form action="/team/<%=item._id%>/edit?_method=DELETE" method="POST">
    <button type="submit" class="btn position-absolute top-0 end-0 btn mt-3 me-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
      </svg>
    </button>
  </form>
</div>
